[submodule "themes/hugo-product-launch"]
	path = themes/hugo-product-launch
	url = https://github.com/neirfeno/hugo-product-launch.git
[submodule "public"]
	path = public
	url = git@github.com:MikeGillies/Website.git
